<%

var moment = require("moment");

var formatDate = function(d) {
  return moment(d, "MM/DD/YYYY").format("MMMM D, YYYY")
}

%><!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- Safari, you're the worst -->
    <meta name='format-detection' content='telephone=no'>
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body>

    <%= t.include("partials/_nav.html") %>
    <%= t.include("partials/_ad.html", { type: "banner" }) %>

    <header class="splash">
      <!-- <img src="./assets/ethiopia_plane_crash.jpg"> -->
      <h1>Rosemary Torgesen’s last months</h1>

      <div class="container">
        <p class="chatter">
          A week before Rosemary Torgesen was admitted to Smokey Point Behavioral Hospital, regulators found problems there that created a “high risk of serious harm, injury and death.” Over 99 days as a Smokey Point patient, her condition deteriorated while the hospital struggled to keep patients and staff safe and faced the risk of losing federal funding.</p>

      </div>

    </header>

    <main>
        <div class="year-label">
            <label>2018</label>
          </div>
      <div class="content">
          <div class="timeline">
            <h3>Rosemary Torgesen</h3>
            <br>
            <br>
              <% var y = null; %>
              <% json.timeline.forEach(function(row) { %>
              <% var year = row.dateHidden1.split("/").pop() * 1 %>
              <% if (year && year != y) { %>
              <div class="year-label">
              </div>
              <% y = year; %>
              <% } %>
              <div class="entry">
                <% if (row.photo) { %>
                <div class="photo-embed">
                  <img src="./assets/<%= row.photo %>">
                  <div class="credit"><%= row.credit %></div>
                </div>
                <% } %>
                <h2><%= row.event1 %></h2>
                <span class="date1">
                  <%= row.date1 %>
                  <% if (row.time) { %>
                  - <%= row.time %>
                    <% } %>
                </span>
                <div class="description1">
                  <p><%= row.description1 %>
                  <% if (row.quote) { %>
                  <% } %>
                </div>
                <span class="dateHidden1">
                  <%= formatDate(row.dateHidden1) %>
                  <% if (row.time1) { %>
                  <% } %>
                </span>

                <div class="descriptionHidden1">
                  <p><%= row.descriptionHidden1 %>
                  <% if (row.quote) { %>
                  <% } %>
                </div>
                <% if (row.link) { %>
                <a class="read-more" href="<%= row.link %>" target="_blank">
                  <% if (row.thumbnail) { %>
                  <img src="<%= row.thumbnail %>">
                  <% } else { %>
                  Read more &raquo;
                  <% } %>
                </a>
                <% } %>
              </div>
              <% }) %>
            </div>
      
          <div class="timeline2">
              <h4>Smokey Point Behavioral Hospital<br>(Selected events)</h4>
              <br>
              <% var y = null; %>
              <% json.timeline2.forEach(function(row) { %>
              <% var year = row.dateHidden.split("/").pop() * 1 %>
              <% if (year && year != y) { %>
              <div class="year-label">
              </div>
              <% y = year; %>
              <% } %>
              <div class="entry">
                <% if (row.photo) { %>
                <div class="photo-embed">
                  <img src="./assets/<%= row.photo %>">
                  <div class="credit"><%= row.credit %></div>
                </div>
                <% } %>
                <h2><%= row.event %></h2>

                <span class="date">
                  <%= row.date %>
                  <% if (row.time) { %>
                  - <%= row.time %>
                    <% } %>
                </span>
                <div class="description">
                  <p><%= row.description %>
                  <% if (row.quote) { %>
                  <% } %>
                </div>
                
                <span class="dateHidden">
                  <%= formatDate(row.dateHidden) %>
                  <% if (row.time) { %>
                  - <%= row.time %>
                  <% } %>
                </span>

                <div class="descriptionHidden">
                  <p><%= row.descriptionHidden %>
                  <% if (row.quote) { %>
                  <% } %>
                </div>

                <% if (row.link) { %>
                <a class="read-more" href="<%= row.link %>" target="_blank">
                  <% if (row.thumbnail) { %>
                  <img src="<%= row.thumbnail %>">
                  <% } else { %>
                  Read more &raquo;
                  <% } %>
                </a>
                <% } %>
              </div>
              <% }) %>
            </div>
          </div>

          <hr>

      <div class="content">
        <ul class="credit-block">
          <li class="date"> Sources: Rosemary Torgesen records from Smokey Point Behavioral Hospital, Providence Regional Medical Center in Everett and
              Northwest Hospital, death certificate, Snohomish County 911, Department of Health, Washington state Governor’s Office
          <li> EMILY M. ENG / THE SEATTLE TIMES
        </ul>
      </div>

    </main>

    <%= t.include("partials/_navBottom.html") %>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
