<%

var moment = require("moment");

var formatDate = function(d) {
  return moment(d, "MM/DD/YYYY").format("MMMM D, YYYY")
}

%><!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- Safari, you're the worst -->
    <meta name='format-detection' content='telephone=no'>
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body>

    <%= t.include("partials/_nav.html") %>
    <%= t.include("partials/_ad.html", { type: "banner" }) %>

    <header class="splash">
      <!-- <img src="./assets/ethiopia_plane_crash.jpg"> -->
      <h1>Rosemary Torgesen’s last months</h1>

      <div class="container">
        <p class="chatter">
          A week before Rosemary Torgesen was admitted to Smokey Point Behavioral Hospital, regulators found problems there that created a “high risk of serious harm, injury and death.” Over 99 days as a Smokey Point patient, her condition deteriorated while the hospital struggled to keep patients and staff safe and faced the risk of losing federal funding.</p>

      </div>

    </header>

    <main>
      <div class="content">
          <div class="timeline">
            <h2>Rosemary Torgesen</h2>
            <br>
            <br>
              <% var y = null; %>
              <% json.timeline.forEach(function(row) { %>
              <% var year = row.date.split("/").pop() * 1 %>
              <% if (year && year != y) { %>
              <div class="year-label">
                <label><%= year %></label>
              </div>
              <% y = year; %>
              <% } %>
              <div class="entry">
                <% if (row.photo) { %>
                <div class="photo-embed">
                  <img src="./assets/<%= row.photo %>">
                  <div class="credit"><%= row.credit %></div>
                </div>
                <% } %>
                <h2><%= row.event %></h2>
                <span class="date">
                  <%= formatDate(row.date) %>
                  <% if (row.time) { %>
                  - <%= row.time %>
                  <% } %>
                </span>
                <div class="description">
                  <% if (row.video) { %>
                  <div class="video-embed">
                    <iframe src="https://www.youtube.com/embed/<%= row.video %>" frameborder="0" allowfullscreen></iframe>
                  </div>
                  <% } %>
                  <p><%= row.description %>
                  <% if (row.quote) { %>
                  <blockquote>
                    <p>
                    <%= row.quote.trim().split(/\n+/g).join("<p>") %>
                  </blockquote>
                  <% } %>
                </div>
                <% if (row.link) { %>
                <a class="read-more" href="<%= row.link %>" target="_blank">
                  <% if (row.thumbnail) { %>
                  <img src="<%= row.thumbnail %>">
                  <% } else { %>
                  Read more &raquo;
                  <% } %>
                </a>
                <% } %>
              </div>
              <% }) %>
            </div>
      
          <div class="timeline2">
              <h2>Smokey Point Behavioral Hospital (Selected events)</h2>
              <br>
              <% var y = null; %>
              <% json.timeline2.forEach(function(row) { %>
              <% var year = row.date.split("/").pop() * 1 %>
              <% if (year && year != y) { %>
              <div class="year-label">
                <label><%= year %></label>
              </div>
              <% y = year; %>
              <% } %>
              <div class="entry">
                <% if (row.photo) { %>
                <div class="photo-embed">
                  <img src="./assets/<%= row.photo %>">
                  <div class="credit"><%= row.credit %></div>
                </div>
                <% } %>
                <h2><%= row.event %></h2>
                <span class="date">
                  <%= formatDate(row.date) %>
                  <% if (row.time) { %>
                  - <%= row.time %>
                  <% } %>
                </span>
                <div class="description">
                  <p><%= row.description %>
                  <% if (row.quote) { %>
                  <blockquote>
                    <p>
                    <%= row.quote.trim().split(/\n+/g).join("<p>") %>
                  </blockquote>
                  <% } %>
                </div>
                <% if (row.link) { %>
                <a class="read-more" href="<%= row.link %>" target="_blank">
                  <% if (row.thumbnail) { %>
                  <img src="<%= row.thumbnail %>">
                  <% } else { %>
                  Read more &raquo;
                  <% } %>
                </a>
                <% } %>
              </div>
              <% }) %>
            </div>
          </div>

      <div>
        <ul class="credit-block">
          <li class="date"> Originally published: Xxxxx
          <li> Reporting: Xxxx
        </ul>
      </div>

    </main>

    <%= t.include("partials/_navBottom.html") %>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
